.row {
  display: flex;
  border-bottom: 1px solid black;
  max-width: 880px;
}

.flex {
  display: flex; 
}

.text-left {
  text-align: left;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-blue {
  color: blue
}