@import './variables.css';

.row {
  display: flex;
  border-bottom: 1px solid black;
  max-width: 880px;
}

.flex {
  display: flex; 
}

.text-left {
  text-align: left;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-blue {
  color: blue
}

.text-gray {
  color: gray
}

label {
  display: block;
}

label,
input {
  font-weight: 100;
  width: 300px;
}

input {
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-gray-lite);
  padding: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(177, 177, 177);
  opacity: 1;
  /* Firefox */
}

.flat-button {
  padding: 10px 5px;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
}

.flat-button:hover {
  background-color: var(--color-gray)
}

.flat-button:disabled {
  background-color: var(--color-gray);
  color: gray;
  cursor: not-allowed;
}